@font-face {
    font-family: 'Cubic11';
    src: url(assets/Cubic_11_1.100_R.ttf);
}

body {
    --b0: #76BCAB;
    --b1: #519585;
    --b2: #376862;
    --br1: #443F2D;
    --br2: #2F2D22;
    --y0: #FFFBCC;
    --y1: #BABE7C;
    --y2: #7D825A;

    background: var(--br1);
    color: #EFEFEF;
    font-family: 'Cubic11', sans-serif;
    line-height: 160%;
    margin: 0;
}

section {
    margin: 20px 0;
    padding: 20px 40px;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: #EFEFEF;
}

p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    section {
        padding: 20px 0;
    }
}

.main {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.go-back img {
    width: 50px;
}



/*--------------------------------------------

                Intro頁面 Begin

--------------------------------------------*/
.banner {
    background-image: url(img/bn1.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.gameCard {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    flex-direction: column;
    height: 40vh;
    margin: 20px 0;
    padding: 40px;
    position: relative;
    width: 100%;
}

.gameCard::before {
    content: '';
    background-color: var(--br1);
    border-radius: 8px;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    mix-blend-mode: multiply;
}

.gameCard:hover::before {
    opacity: .2;
    transition: all .8s ease-in-out;
}

.gameCard.game01 {
    background-image: url(img/shipIntro.jpg);
}

.gameSubTitle,
.gameTitle {
    transform: translateY(20px);
    text-align: center;
    visibility: hidden;
}

.gameCard:hover .gameSubTitle,
.gameCard:hover .gameTitle {
    transform: translateY(0px);
    transition: .8s ease-in-out;
    visibility: initial;
}

.gameTitle {
    font-size: 40px;
    margin: 10px 0;
}


.luckBg {
    background-color: var(--b2);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;
}

.luckWhellBg,
.luckWhellBgMain {
    background: var(--y0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.rotateStyle {
    -webkit-transition: transform 5000ms ease-in-out;
    transition: transform 5000ms ease-in-out;
}

.luckWhellSector {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    border: 1px solid var(--b2);
    border-right: 0;
    border-top: 0;
    box-sizing: border-box;
}

.luckWhellSector:nth-child(2n) {
    position: absolute;
    background: var(--y1);
}

.wheel-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.prize-list {
    width: 100%;
    height: 100%;
    position: relative;

}

.prize-item {
    position: absolute;
    left: 50%;
    height: 50%;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    transform-origin: 50% 100%;
    color: var(--br1);
}

.prize_point {
    position: absolute;
    left: 50%;
    background: var(--y2);
    width: 4rem;
    height: 4rem;
    top: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    border-radius: 50%;
}

.prize_point::after {
    position: absolute;
    left: 50%;
    top: -1.5rem;
    width: 0;
    height: 0;
    margin-left: -1rem;
    border: 1rem solid;
    border-color: transparent transparent var(--y2);
    content: '';
}

/*---------------------------------------

                轉盤區塊

---------------------------------------
.luckWheel {
    background-color: var(--b2);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}
.wheelBg {
    background-color: var(--y0);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wheelRotate {
    -webkit-transition: transform 5000ms ease-in-out;
    transition: transform 5000ms ease-in-out;
}
.luckWheelSector {
    transform-origin: 0% 100%;
    border: 1px solid var(--b2);
    border-right: 0;
    border-top: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.luckWheelSector:nth-child(2n) {
    position: absolute;
    background-color: var(--y1);
}
.wheelMain {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.luck-list {
    width: 100%;
    height: 100%;
    position: relative;
}
.luck-item {
    box-sizing: border-box;
    color: var(--br1);
    height: 50%;
    padding-top: 15px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform-origin: 50% 100%;
}

.luck-roll {
    background-color: var(--y2);
    border-radius: 50%;
    cursor: pointer;
    margin-left: -2rem;
    margin-top: -2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4rem;
    height: 4rem;
}
.luck-roll::after {
    content: '';
    border: 1rem solid;
    border-color: transparent transparent var(--y2);
    position: absolute;
    left: 50%;
    top: -1.5rem;
    width: 0;
    height: 1;
    margin-left: -1rem
}
*/
/*--------------------------------------------

                Intro頁面 End

--------------------------------------------*/


/*---------------------------------------

                發牌區塊

---------------------------------------*/
.card_table {
    /* flex: 1; */
    width: 25%;
    height: 100%;
    padding: 20px 40px;
    text-align: center;
}

.innerCT {
    border: 2px solid;
    border-radius: 4px;
    height: 250px;
    width: 100%;
}

.player .innerCT {
    border-color: var(--y0);
}

.owner .innerCT {
    border-color: var(--b1);
}

.btns.flex {
    width: 40%;
    flex-direction: column;
    max-width: 200px;
    margin: 0 20px;
}

.cfbtns.flex {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn {
    background: var(--b1);
    border: 0;
    border-radius: 10px;
    color: var(--y0);
    font-family: 'Cubic11';
    font-size: 24px;
    margin: 5px;
    padding: 15px 20px;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.btn.cf {
    background: var(--y1);
    color: var(--br2);
    font-size: 16px;
    min-width: 92px;
    width: auto;
}

.btn.draw {
    background-image: url(img/card_back.png);
    width: 120px;
    height: 165px;
}

.btn.draw span {
    background-color: rgba(255, 251, 204, .77);
    border-radius: 5px;
    color: var(--br1);
    padding: 10px;
}

@media (max-width: 768px) {
    .main_table {
        flex-direction: column-reverse;
    }

    .card_table {
        width: 100%;
        padding: 20px;
    }

    .btns.flex {
        width: 100%;
    }
}

/*---------------------------------------

                莊家區塊

---------------------------------------*/
.owner_section {
    position: relative;
}

.owner_info {
    align-items: stretch;
    /* justify-content: space-between; */
}

.owner_words {
    display: flex;
    /* justify-content: center; */
    padding: 20px 30px;
    position: relative;
    width: 60%;

    /* height: 100%; */
}

.owner_words p {
    color: var(--br1);
    font-size: 20px;
    /* font-style: italic; */
    position: relative;
    /* top: 45px; */
    z-index: 1;
    width: 20em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(18);
}

.owner_words::before {
    content: '';
    background-image: url(img/bubble.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    left: -40px;
    top: -20px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.owner_pic {
    width: 25%;
}

.owner_pic img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@media (max-width: 768px) {
    .owner_words {
        padding: 0;
        width: 100%;
        height: 30vh;
    }

    .owner_words::before {
        left: -10px;
        top: 0;
    }

    .owner_words p {
        font-size: 16px;
        margin: 0;
        padding: 20px;
    }

    .owner_pic {
        width: 35%;
        position: absolute;
        bottom: 0;
        right: -10px;
    }
}


/*---------------------------------------

                玩家區塊

---------------------------------------*/
.pl_info.flex {
    align-items: stretch;
    justify-content: space-between;
}

.pl_pic {
    width: 25%;
}

.pl_pic img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.pl_deck {
    border: 2px dashed var(--b1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
    padding: 20px 40px;
    width: 70%;
}


/*---------------------------------------

                卡牌樣式

---------------------------------------*/
.card {
    /* background: var(--y1); */
    border-radius: 8px;
    margin: 10px;
    position: relative;
    width: 120px;
    height: 165px;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out;
}

.front,
.back {
    border-radius: 8px;
    /* margin: 10px;
    padding: 20px;*/
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: url(img/card_front.png);
    transform: rotateY(0deg);
}

.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: url(img/card_back.png);
    transform: rotateY(180deg);
}

.click.backside .innerCard {
    transform: rotateY(180deg);
}

.card .symbol {
    color: var(--b2);
    font-size: 36px;
    line-height: 100%;
    position: absolute;
    left: 13px;
    top: 13px;
    text-align: left;
}

.card .nums {
    color: var(--br2);
    font-size: 65px;
    line-height: 160%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

/* .card.backside .symbol,
.card.backside .nums {
    display: none;
} */

/* .front::before {
    content: '';
    border: 3px dashed var(--br1);
    border-radius: 8px;
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* .back::before {
    content: '';
    border: 3px dashed var(--y1);
    border-radius: 8px;
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.ownercard {
    animation-name: MoveOwnerCard;
    animation-duration: 1s;
}

.playercard {
    animation-name: MovePlCard;
    animation-duration: 1s;
}

@media (max-width: 768px) {
    .ownercard {
        animation-name: MoveOwnerCard_mob;
        animation-duration: 1s;
    }

    .playercard {
        animation-name: MovePlCard_mob;
        animation-duration: 1s;
    }
}

@keyframes MoveOwnerCard {
    from {
        transform: translate(-239%, 6px);
    }

    to {
        transform: translate(0%, 0px);
    }
}

@keyframes MovePlCard {
    from {
        transform: translate(238%, 6px);
    }

    to {
        transform: translate(0%, 0px);
    }
}

@keyframes MoveOwnerCard_mob {
    from {
        transform: translate(0%, 0px);
    }
}

@keyframes MovePlCard_mob {
    from {
        transform: translate(0%, 0px);
    }
}