@font-face {
    font-family: 'Cubic11';
    src: url(assets/Cubic_11_1.100_R.ttf);
}

body {
    --b0: #76BCAB;
    --b1: #519585;
    --b2: #376862;
    --br1: #443F2D;
    --br2: #2F2D22;
    --y0: #FFFBCC;
    --y1: #BABE7C;
    --y2: #7D825A;


    background: var(--br1);
    color: #EFEFEF;
    font-family: 'Cubic11', sans-serif;
    line-height: 160%;
    margin: 0;
}
section {
    margin: 40px 0;
    padding: 40px;
}


.main {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_table {
    flex: 1;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.innerCT {
    border: 2px solid;
    border-radius: 4px;
    height: 300px;
    width: 100%;
}
.player .innerCT {
    border-color: var(--y0);
}
.owner .innerCT {
    border-color: var(--b1);
}

.btns.flex {
    flex: 1;
    flex-direction: column;
    max-width: 200px;
    margin: 0 20px;
}
.cfbtns.flex {
    justify-content: space-between;
}
.btn {
    background: var(--b1);
    border: 0;
    border-radius: 10px;
    color: var(--y0);
    font-family: 'Cubic11';
    font-size: 24px;
    margin: 5px;
    padding: 20px;
    width: 100%;
}
.btn:hover {
    cursor: pointer;
}
.btn.cf {
    background: var(--y1);
    color: var(--br2);
    font-size: 16px;
    width: 95px;
}



/*---------------------------------------

                卡牌樣式

---------------------------------------*/

.card {
    background: var(--y1);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    position: relative;
    width: 100px;
    height: 150px;
}

.innerCard {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 8px;
    /* margin: 10px;
    padding: 20px;*/
    position: absolute;
    width: 100%;
    height: 100%;
}
.front {
    background: var(--y1);
    /* transform: rotateY(0deg); */
}
.back {
    background: var(--b2);
    transform: rotateY(180deg);
}

.click:hover {
    cursor: pointer;
}
.click.backside .innerCard {
    transform: rotateY(180deg);
    transition: transform .6s ease-in-out;
}

.card.backside .symobol,
.card.backside .nums {
    display: none;
} 
.card .symbol {
    color: var(--b2);
    font-size: 40px;
    line-height: 100%;
    text-align: left;
}
.card .nums {
    color: var(--br1);
    font-size: 70px;
    line-height: 160%;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.front::before {
    content: '';
    border: 3px dashed var(--br1);
    border-radius: 8px;
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backside::before {
    border-color: var(--y1);
}